<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redigér en attraktion</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="icon" th:href="@{/images/favicon.webp}" type="image/webp">
</head>
<body>
<h1>Redigér en attraktion</h1>
<form th:action="@{/attractions/update}" method="post" th:object="${touristAttraction}">

    <label for="name">Navn:</label>
    <input type="text" id="name" th:field="*{name}" readonly /><br> <!-- Navn kan ikke ændres -->

    <label for="city">By:</label>
    <select id="city" th:field="*{city}" required>
        <option th:each="city : ${cities}"
                th:value="${city.city_id}"
                th:text="${city.c_name}"></option>
    </select><br>

    <label for="description">Beskrivelse:</label>
    <textarea id="description" th:field="*{description}" required></textarea><br>

    <label>Tags:</label>
    <div th:each="tag : ${availableTags}">
        <input type="checkbox"
               th:id="${tag}"
            th:value="${tag}"
            th:field="*{tags}"
            th:checked="${#lists.contains(touristAttraction.tags, tag)}" />
        <label th:for="${tag}" th:text="${tag}"></label><br>
    </div><br>

    <button type="submit">Gem ændringer</button>
</form>
<a href="/attractions">Tilbage til oversigten</a>
</body>
</html>